@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@317&display=swap');

body {
    margin: 0 auto;
    font-family: "Dosis", sans-serif;
    height: 100vh;
}

h1 {
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px groove black;
    width: 50%;
    padding: 5px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#buttons {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.challengeButton,
button {
    border: none;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 1em;
    cursor:pointer;
}

.challengeButton:hover :not(filter),
.navItem:hover :not(filter) {
    border: 2px groove black;
    cursor:pointer;
}


#buttons:has(:hover)>.challengeButton:not(:hover),
#topNav:has(:hover) #navItems:has(:hover)>.navItem:not(:hover),
#columns:has(:hover)>.column:not(:hover) {
    transition: filter 0.8s;
    filter: opacity(0.2);

}

/* Challenge 1 */

/*
.navDisabled {
    height: 0;
    border: 0;
    transition: 0.3s ease;
    opacity: 0;
}
.navDisabled .navItem {
    margin: 0;
    padding: 0;
    border: 0;
    
}
*/

#topNav {
    height: 0;
}

#topNav,
#navItems {
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px groove black;
}

#navItems {
    border: none;
}

.navItem {
    background-color: #f0f0f0;
    margin: 5px;
    padding: 5px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1em;
    transition: filter 0.8s;
}

.openNavHolder {
    display: flex;
    justify-content: center;
}

.openNav {
    margin: 0 auto;
    padding: 5px;
    transition: 2s;
    transform: rotateZ(180deg);
}

@media screen and (max-width: 500px) {

    #topNav,
    #navItems {
        flex-direction: column;
    }

    .navItem {
        text-align: center;
        border: 2px groove rgb(125, 125, 125);
    }

    #columns {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/* Challenge 1 */

#columns {
    display: flex;
    flex-direction: row;
}

.column {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}